---
layout: default
---
<main class="content fade-in-down delay-0_75s">
  <div class="inner">
      <article class="post">
          <div class="entry-box">
              <div class="entry-content">

<h2>Welcome</h2>

<p>Welcome to the new Holy Spirit School Pack 229 Website. Please see updates on upcoming Pack events below.</p>

{% assign upcoming = paginator.posts | where_exp:"item", "item.tags contains 'Upcoming'" | sort: "meta.date" %}
{% if upcoming.size > 0 %}
  <h3>Upcoming Event Calendar</h3>
  <div class="calendar-cards">
  {% for post in upcoming %}
    <div class="calendar-card">
      <a href="{{ site.baseurl }}{{ post.url }}"><p class="date">{{post.meta["date"] | first_date: "%A %-m/%-d" }}</p></a>
      <a href="{{ site.baseurl }}{{ post.url }}"><p class="name">{{ post.title }}</p></a>
    </div>
  {% endfor %}
  </div>
{% endif %}

                </div><!-- .entry-content -->
            </div><!-- .entry-box -->
        </article><!-- .post -->
    </div><!-- .inner -->
</main><!-- .content -->


<main class="content fade-in-down delay-0_75s">
    <div class="inner">
        {% include loop.html %}
        {% if paginator.total_pages > 1 %}
        <nav class="pagination">
            <h2 class="screen-reader-text">Posts navigation</h2>
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="newer-posts"><i class="fa fa-angle-left" aria-hidden="true"></i> Newer Posts</a>
            {% endif %}
            <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="older-posts">Older Posts <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endif %}
        </nav><!-- .pagination -->
        {% endif %}
    </div><!-- .inner -->
</main><!-- .content -->
