---
layout: default
---
<main class="content fade-in-down delay-0_75s">
    <div class="inner">
        <article class="post">
            {% if page.featured_image %}
            <div class="post-thumbnail"><img src="{{ "/images/posts/" | append: page.featured_image | prepend: site.baseurl }}" alt="{% if page.featured_image_alt %}{{ page.featured_image_alt }}{% else %}{{ page.title }}{% endif %}" /></div>
            {% endif %}
            <div class="entry-box">
                <header class="entry-header">
                    <h1 class="entry-title">{{ page.title }}</h1>
                </header><!-- .entry-header -->
                <div class="entry-content">
                  {% if page.meta != nil %}
                    <ul>
                    {% for m in page.meta %}
                      <li>{{m | format_meta}}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                  {{content}}
                </div><!-- .entry-content -->
                <footer class="entry-footer">
                    {% if page.tags.size > 0 %}
                    <div class="entry-meta">
                        Posted <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time> by {{ site.author_name }}
                    </div><!-- .entry-meta -->
                    <div class="post-tags">
                        Tags: {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag | cgi_escape | downcase }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
                    </div>
                    {% endif %}
                    <!--<div class="share-post">
                        <span>Share this:</span>
                        <a class="btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ site.url }}{{ page.url }}"><i class="fa fa-twitter" aria-hidden="true"></i><span class="screen-reader-text">Twitter</span></a>
                        <a class="btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;t={{ page.title | uri_escape }}"><i class="fa fa-facebook" aria-hidden="true"></i><span class="screen-reader-text">Facebook</span></a>
                    </div>--><!-- .share-post -->
                </footer><!-- .entry-footer -->
            </div><!-- .entry-box -->
        </article><!-- .post -->
        <nav class="post-nav">
            <h2 class="screen-reader-text">Post navigation</h2>
            {% if page.previous.url %}
            <a href="{{ site.baseurl }}{{page.previous.url}}" class="nav-previous">Previous Post</a>
            {% endif %}
            {% if page.next.url %}
            <a href="{{ site.baseurl }}{{page.next.url}}">Next Post</a>
            {% endif %}
        </nav><!-- .post-nav -->
    </div><!-- .inner -->
</main><!-- .content -->
